@font-face {
    font-family: 'Dancing Script';
    src: url(./fonts/DancingScript-Regular.ttf);
}
@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Vampiro One';
    src: url(./fonts/VampiroOne-Regular.ttf);
}
@font-face {
    font-family: 'Domine';
    src: url(./fonts/Domine-Regular.ttf);
}